---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>🧑‍🚀 Arun Govil</h1>
      <p>
        Hey there, I'm a hobbyist developer and designer with love for
        minimalist design and meaningful experience. Currently fixing bugs at my
        workplace, where I’m actively involved in frontend development using
        frameworks like ReactJs, NuxtJs and React Native. In my free time I love
        building side projects and exploring new technologies. For most of my
        design work, I use Figma and Photopea. Apart from coding, I love to
        sleep, read and explore all new interesting stuff going around the world
        so as to keep myself up to date.
      </p>

      <br />Find me on GitHub, Twitter, LinkedIn <br /> Mail me at arungovil@pm.me.
    </main>

    <Footer />
  </body>
</html>
